# Backend
ConnectionStrings__StatifyDb=
Frontend__Origin=http://localhost:5173
Spotify__ClientId=
Spotify__ClientSecret=
Spotify__RedirectUri=http://127.0.0.1:5057/api/auth/spotify/callback
Sync__IntervalMinutes=15
Sync__ManualRefreshCooldownMinutes=5

# Frontend
PUBLIC_API_BASE_URL=http://127.0.0.1:5057
