.DS_Store
.vscode/
.idea/
.env
.env.*
!.env.example
docs/
**/bin/
**/obj/
**/node_modules/
**/.svelte-kit/
**/build/
**/dist/
**/.vercel/
**/coverage/
**/playwright-report/
**/test-results/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
